<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rock Papers Scissors!</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
     
</head>
<style>
	#box1 {
	width:200px;
	height:200px;
	background-color: red;
	display:none;
	}
	#box2 {
	width:200px;
	height:200px;
	background-color: red;
	display:none;
	}
	#box3 {
	width:200px;
	height:200px;
	background-color: red;
	display:none;
	}
</style>
<body>
    <div class ="jumbotron">
        <h1>Welcome to the Rock, Papers, Scissors Game!</h1>
        <h2>Play if you dare!</h2>
        </br>
        <p>Rules of the game:</p>
        <p>You have three options to choose from: Rock, Paper or Scissors. You are playing against the COMPUTER OVERLORD</p>
        <p>The winner depends on the choices you make vs the choice the COMPUTER OVERLORD MAKES</p>
        <p>This is how you determine who WINS!!!! </p>
        <ul>
            <li>Paper beats Rocks</li>
            <li>Scissors beats Paper</li>
            <li>Rock beats Scissors</li>
        </ul>
        <p>This is a best of 5 series</p>
        <p>EASY ENOUGH? THEN LET THE GAMES BEGIN!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="box1"></div>
            <div class="col-md-4" id="box2"></div>
            <div class="col-md-4" id="box3"></div>
        </div> 
    </div>
    
</body>