<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Rock Papers Scissors!</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
     
</head>
<style>
    .container h3 {
        color:#FFFFFF;
    }
    
	#box1 {
	width:200px;
	height:200px;
	background-color:#0000FF;
	}
	
	#box2 {
	width:200px;
	height:200px;
	background-color:#00FF00;
	}
	
	#box3 {
	width:200px;
	height:200px;
	background-color:#FF0000;
	}
</style>
<body>
    <div class ="jumbotron">
        <h1>Welcome to the Rock, Papers, Scissors Game!</h1>
        <h2>Play if you dare!</h2>
        </br>
        <p>Rules of the game:</p>
        <p>You have three options to choose from: Rock, Paper or Scissors. You are playing against the COMPUTER OVERLORD</p>
        <p>The winner depends on the choices you make vs the choice the COMPUTER OVERLORD MAKES</p>
        <p>This is how you determine who WINS!!!! </p>
        <ul>
            <li>Paper beats Rocks</li>
            <li>Scissors beats Paper</li>
            <li>Rock beats Scissors</li>
        </ul>
        <p>This is a best of 5 series</p>
        <p>EASY ENOUGH? THEN LET THE GAMES BEGIN!</p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-4" id="box1">
                <h3>ROCK</h3>
            </div>
            <div class="col-md-4" id="box2">
                <h3>PAPERS</h3>
            </div>
            <div class="col-md-4" id="box3">
                <h3>Scissors<h3>
            </div>
        </div> 
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="js/bootstrap.min.js"></script>
<script type="text/javascript">
	var computerChoice = Math.random();
	if (computerChoice < 0.33) {
    	computerChoice = "rock";
	} else if(computerChoice <= 0.66) {
    	computerChoice = "paper";
	} else {
    	computerChoice = "scissors";
	}
	document.getElementById("box1").onclick= function(){
		if(computerChoice == "rock"){
			alert("It is a tie, You chose Rock, computer chose Rock, Lame!");
		}
		else if(computerChoice =="paper"){
			alert("Sucker, YOU LOST! You chose Rock, COMPUTER OVERLORD chose paper");
		}
		else if(computerChoice=="scissors"){
			alert("DANG! You Beat Computer OVERLORD cuz he chose scissors");
		}
	}
	document.getElementById("box2").onclick= function(){
		if(computerChoice == "paper"){
			alert("It is a tie, You chose Paper, computer chose Paper, Lame!");
		}
		else if(computerChoice =="scissors"){
			alert("Sucker, YOU LOST! You chose Paper, COMPUTER OVERLORD chose scissors");
		}
		else if(computerChoice=="rock"){
			alert("DANG! You Beat Computer OVERLORD cuz he chose rock");
		}
	}
	document.getElementById("box3").onclick= function(){
		if(computerChoice == "scissors"){
			alert("It is a tie, You chose scissors, computer chose scissors, Lame!");
		}
		else if(computerChoice =="rock"){
			alert("Sucker, YOU LOST! You chose scissors, COMPUTER OVERLORD chose rock");
		}
		else if(computerChoice=="paper"){
			alert("DANG! You Beat Computer OVERLORD cuz he chose paper");
		}
	}
</script>
</body>